table {
  margin: auto;
  width: 100%;
}

.title {
  text-align: center;
  font-weight: bold;
  background-color: pink;
}

img {
  height: 150px;
  weight: 150px;
  padding: 5px;
}

td {
  padding: 5px;
  border: 1px;
  border: 3px dotted pink;
}
body {
  font: 12pt Arial;
  font-style: oblique;
}
